@model Reticule.Models.Equipement_Mobile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipement_Mobile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomEM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeEM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
